:root{
    --first-color: #2d3436;
    --second-color: #d35400 ;
    --third-color:  #16a085 ;
    --fourth-color:   #eb2f06 ;
    --fifth-color:   #3c6382;
    --sixth-color:rgb(20, 28, 30);

}
body{
    background-color: var(--first-color);
}

*{
    margin: 0;
    padding: 0;
}

section{
    background: url(images/home2.png) no-repeat center center/cover;
    height: 100vh;
}


/*header*/

header{
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    z-index: 99;
}
.firstHdiv{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 3px;

}
.firstHdiv img{
    height: 50px;
    width: 50px;
}
 h6{
    font-size: 50px;
    color: var(--sixth-color);
}
.secondHdiv{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    gap: 80px;
    align-items: center;
    color: var( --sixth-color);
}
i{
    font-size: 40px;
}
hr{
    width: 40%;
    margin: auto;
    margin-top: 13px;
    border: 4px solid var(--sixth-color);
    border-radius: 12px;
}

/*Navbar*/

nav{
    position: fixed;
    z-index: 99;
    width: 100%;

}
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-top: 8px;
}
#left-btn-Nav{
    background-color: transparent;
    height: 15px;
    width: 80px;
    border-left: 50px solid transparent;
    border-bottom: 50px solid #eb2f06;
    line-height: 100px;
    display: block;
    cursor: pointer;
}
#right-btn-Nav{
    background-color: transparent;
    height: 15px;
    width: 80px;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #eb2f06;
    line-height: 100px;
    display: block;
    cursor: pointer;
}
#left-btn-Nav:hover{
    border-bottom: 50px solid var(--second-color);
}
#left-arrow{
    padding-left: 20px;
    color: var(--sixth-color);
}

#right-arrow{
    padding-left: 30px;
    color: var(--sixth-color);
}
#right-btn-Nav:hover{
    border-bottom: 50px solid var(--second-color);
}
#home-btn{
    text-decoration: none;
    font-size: 40px ;
    color: #eb2f06;
    font-weight: 900;
}
#hr{
    width: 70%;
    margin: auto;
    margin-top: 13px;
    border: 4px solid var(--sixth-color);
    border-radius: 12px;
}
#current{
    color: #eb2f06;
}

/*home content*/
.home-content{
    display: flex;
}
.information .left-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    
}

.left-info .blur{
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    -webkit-mask: linear-gradient( #000 0 0 ),
    linear-gradient( #000 0 0 );
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
    
}
.information .right-info{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

h1{
    display: flex;
    font-size: 250px;
    font-weight: 900;
    padding-top: 200px;
   
}
#left-title{
    justify-content: end;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);


}
#right-title{
    color:  var(--sixth-color);
}
h2{
    font-size: 60px;
    text-align: center;
    color: var(--fourth-color);
}

/*aside*/
aside{
    height: 30px;
    width: 100%;
    background-color: var(--sixth-color);
}
/*main*/
/*article1*/
.article1{
    display: flex;
    width: 100%;
    height: 500px;
}
.left-article1{
    width: 60%;
    height: 500px;
}
.right-article{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
}
.div-article{
    padding: 30% 20%;
    font-size: 30px;
    color: white;
}
.article1-btn{
    font-size: 0.9em;
    padding: 10px;
    background-color: var(--third-color);
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.article1-btn:hover{
    background-color: transparent;
    border: 3px solid var(--third-color);
    color: var(--third-color);
}
.hidden-content{
    display: none;
}
.hidden-content.article1-btn{
    display: block;
    background-color: transparent;
    font-size: 30px ;
    
}
.hidden-content.article1-btn:hover{
    background-color: transparent;
    border: none;
    color: #fff;
}
h3{
    padding-left: 13px;
    font-size: 7em;
    letter-spacing: 15px;
    color: #b3e9ee;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30%;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#000800);
    line-height: 0.70em;
    outline: none;
    animation: animate 10s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50%,65%
    {
        color: #fff;
        text-shadow: 0 0 6px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4;
    }
}
/*article2*/
.article2{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
}
.firstContainer{
    background-color: var(--fourth-color);
    height: 70px;
    width: 530px;
}
#genresMovie{
    font-size: 3em;
    padding-left: 10px;
    font-weight: 800;
    color: var(--sixth-color);
}
.secondContainer{
    height: 70px;
    width: 30px;
    background-color: var(--fourth-color);
    border-top-right-radius: 75%;
    border-bottom-right-radius: 75%;
}
.container2{
    margin-top: 100px;
}
.container2-information{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 100px;
}
.action{
    height: 50px ;
    width: 240px;
    background-color: transparent;
    text-align: center;
    border-bottom: 50px solid var(--sixth-color);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}
.animation{
    height: 50px ;
    width: 240px;
    background-color: transparent;
    text-align: center;
    border-bottom: 50px solid var(--sixth-color);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}
.adventure{
    margin-top: 100px;
    height: 50px ;
    width: 240px;
    background-color: transparent;
    text-align: center;
    border-top: 50px solid var(--sixth-color);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}
.comedy{
    margin-top: 100px;
    height: 50px ;
    width: 240px;
    background-color: transparent;
    text-align: center;
    border-top: 50px solid var(--sixth-color);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}
#avv{
     margin-top: -50px;
     font-size: 40px;
    color: white;
}
#comm{
    margin-top: -50px;
    font-size: 40px;
    color: white;
}
#myGenresParagraph{
    margin-top: 50px;
    font-size: 40px;
    color: white;
}
.botton{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 100px;
}
.horror{
    height: 50px ;
    width: 240px;
    background-color: transparent;
    text-align: center;
    border-bottom: 50px solid var(--sixth-color);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;

}
.sf{
    height: 50px ;
    width: 240px;
    background-color: transparent;
    text-align: center;
    border-bottom: 50px solid var(--sixth-color);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;

}
.drama{
    margin-top: 100px;
    height: 50px ;
    width: 240px;
    background-color: transparent;
    text-align: center;
    border-top: 50px solid var(--sixth-color);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}
.romance{
    margin-top: 100px;
    height: 50px ;
    width: 240px;
    background-color: transparent;
    text-align: center;
    border-top: 50px solid var(--sixth-color);
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
}
#drm{
     margin-top: -50px;
     font-size: 40px;
    color: white;
}
#romm{
    margin-top: -50px;
    font-size: 40px;
    color: white;
}
/*article3*/
.article3{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
#action-title{
    background-color: black;
    width: 400px;
    height: 70px;
    margin-left: 200px;
    border-radius: 12px;
    display: inline;
}
#myActionP{
    color: var(--first-color);
    font-size: 3em;
    text-align: center;
    font-family: 'Instrument Serif', serif;
    letter-spacing: 10px;
    font-weight: 600;
}
/*container img*/
.containerGalery{
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}
.first-containerG{
    display: flex;
}
.movie1{
    display: grid;
}
.button-movie{
    display: flex;
}
.movie1 img{
    height: 300px;
    width: 207px;
}
#movie1-title{
    text-align: center;
    font-size: 30px;
    color: #fff;
    background-color: black;
}
.button-movie{
    margin-top: 10px;
    height: 50px;
    display: flex;
    width: 207px;
    justify-content: space-between;
}
.info-movie1{
    display: grid;
    width: 100%;
}
#movie-BTN{
    width: 120px;
    color: #fff;
    background-color: var(--fifth-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
#watch-BTN{
    width: 70px;
    color: #fff;
    background-color: var(--third-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
#movie-BTN:hover{
    background-color: transparent;
    border: solid 5px var(--fifth-color);
    color: #3c6382;
}
#watch-BTN:hover{
    background-color: transparent;
    border: solid 5px var(--third-color);
    color: var(--third-color);
}
.ContainerG-content{
    gap: 40px;
    display: flex;
    overflow-x: scroll;
}
.ContainerG-content::-webkit-scrollbar{
    display: none;
}
.first-containerG{
    gap: 40px;
    margin-left: 80px;

}
#arrow-info-left{
    margin-left: 50px;
    cursor: pointer;
}
#arrow-info-left:hover{
     color: #fff;
}
#arrow-info-right:hover{
    color: #fff;
}
#arrow-info-right{
    margin-right: 50px;
    cursor: pointer;
}
.second-containerG{
    margin-left: 120px;
    display: flex;
    flex: none;
    gap: 40px;

}

/* movie action*/
.swiper-container {
    margin-top: 100px;
    padding-top: 100px;
    width: 100%;
    height: 600px;
    margin: 20px auto;
    background-color: black;
  }
  .swiper-slide {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
    .swiper-slide {
      width: 300px;
    }
  }
/* movie div*/
.movie-info-action-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.movie-info-action-1 img{
    height: 350px;
    width: 250px;
    object-fit: cover;
}
.movie-Content-Information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#first-bt-act{
    font-size: 30px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
    cursor: pointer;
    color: var(--first-color);
}
#first-bt-act:hover{
    background-color: transparent;
    border: 4px solid var(--third-color);
    color: #16a085;
}
#second-bt-act{
    font-size: 30px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--fifth-color);
    border: 2px solid var(--fifth-color);
    cursor: pointer;
    color: var(--first-color);

}
#second-bt-act:hover{
    background-color: transparent;
    border: 4px solid var(--fifth-color);
    color: var(--fifth-color);
}

/* footer*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: linear-gradient(rgb(101, 10, 83), rgb(232, 22, 173), rgb(255, 228, 25));
    color: white;
  }  
  footer{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--sixth-color);
    text-align: center;
    color: #fff;
  }
  .footer-info1{
    display: flex;
    flex-direction: column;
    background-color: rgb(97, 95, 95);
    height: 300px;
    justify-content: center;
    text-align: center;
  }
  .subinfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 30px;
  }
  .subinfo p{
    cursor: pointer;
  }
  .subinfo p:hover{
    color: var(--first-color);
  }
  .footer-info2{
     margin-top: 20px;
  }
  .footer-info2 span{
    color: var(--fourth-color) ;
    font-size: 30px;
    font-weight: 600;
  }
  a{
    text-decoration: none;
    color: inherit;
  }